.comment {
  margin: 16px 0 16px 10px;
  border-bottom: 1px solid lightgray;

  span {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .date{
    margin-left: 10px;
    font-weight: 400;
    font-size: 1.6rem;
    color: gray;
  }

  p {
    font-size: 1.6rem;
  }
}
